[2014-12-21 23:08] maxruby opened #1 "Multithreading and GPU support"
In addition to wrapping remaining OpenCV modules, ongoing work aims primarily to support high-speed real-time tracking with OpenCV using multithreading and GPU processing:
- Setting up boost threading  and message passing interfaces to permit high-speed (>500 fps) acquisition and image processing without interfering with the acquisition thread
- OpenCL (and CUDA) implementations of image processin

[2014-12-22 04:13] siddhantjain opened #2 "General Issue Request"
Could you please point me to something specific to work on in completing the thin wrappers for OpenCV modules?

[2015-01-06 11:46] maxruby commented on #2
Happy new year to you.
Have you managed to install 0.4.0-dev?

[2015-01-06 11:47] maxruby commented on #2
Sorry, did not mean to close it.

[2015-01-13 20:06] maxruby commented on #2
@siddhantjain.  I will continue wrapping the remaining modules this weekend.

[2015-01-14 00:57] siddhantjain commented on #2
Please continue wrapping and not let me turtle speed hinder with your
progress. I got caught up in some unexpected string of work, I should sit
once and set up the environment this weekend.

On Wed, Jan 14, 2015 at 1:36 AM, Maximiliano Suster <
notifications@github.com> wrote:

--
"what you do speaks so loudly that i cant hear what you say"

[2015-02-05 15:36] NicolasCARPi opened #3 "Libs are not properly detected"
Hello,

First I would like to thank you and congratulate you on your work :)

I've installed julia 0.4-dev, compiled and installed successfully OpenCV 3.0-BETA, as instructed.
But when I do `using OpenCV`, it doesn't find the libs.

[code]

The libs are in /usr/local/lib (see screenshot : https://i.imgur.com/pIiWMWe.png).

How can I fix this ? I'd be OK to add the path manually (how do I do that b

[2015-02-05 16:34] maxruby commented on #3
Sorry for the trouble  - it will be easy to fix.  You are the first one who asks about the installation for LInux and I never had a chance to test it, so its a good opportunity to fix this.

The "quick fix" is to go into  `src/OpenCV.jl` and add the path manually in lines 52 and 53.
However, the way I set it up, `OpenCV.jl` should find automatically the path for your libs based on
the default path

[2015-02-05 16:56] NicolasCARPi commented on #3
Here is the result of what you asked :

[code]

I then tried your quickfix, added directly the path to `cvlibdir` and `cvheaderdir` at indicated lines.
But it throws the same error, except it's from the `elseif !found` loop. So I added it here also.
And now I get an ArgumentError from the `for i in opencv_libraries` loop.

Do I need to recompile opencv with RTLD_GLOBAL (I have no idea what this is

[2015-02-05 17:47] maxruby commented on #3
I will fix it when I get home.  Sorry for the trouble.

[2015-02-05 19:05] NicolasCARPi commented on #3
It's cool, no worries ;)

[2015-02-05 20:12] maxruby commented on #3
I am working on this now.  `RTLD_GLOBAL` is for Julia to use interdependent libraries where symbols must be made available for usage in other shared libraries - this is relevant for OpenCV libraries.

The issue here is that your Linux system is not detecting the location of the OpenCV shared libraries after searching in line 36 of `src/OpenCV.jl`:

[code]
This can be easily fixed by changing the R

[2015-02-06 09:01] NicolasCARPi commented on #3
This is what I get :
![osef](https://i.imgur.com/ZRNJ2Yx.png)

[2015-02-06 11:00] maxruby commented on #3
Sorry, I should correct this (it should be .so), what happens when you type. e.g.,

dlopen("/usr/local/lib/libopencv_calib3d.so")

[2015-02-06 11:14] NicolasCARPi commented on #3
This works fine.

[2015-02-06 11:27] maxruby commented on #3
So you got something like `Ptr{Void} @0x00007fc03a6d1d20`?

[2015-02-06 11:50] NicolasCARPi commented on #3
Yeah, for some reason I can't copy/paste term output today… But this is what I get :)

[2015-02-06 12:33] maxruby commented on #3
Before I commit changes and push to GitHub, can you check that your OpenCV header files are in

[code]

[2015-02-06 12:36] NicolasCARPi commented on #3
Yes, it looks so :
https://i.imgur.com/f4aNLZv.png

[2015-02-06 13:17] maxruby commented on #3
I hope this will be fixed with the changes I have made - I will submit it in the next 30 min.

However, one more thing to keep in mind is that if you need to include more advanced modules from `opencv_contrib-master` (e.g., bgsegm), currently the path must be manually set in `src/OpenCV.jl` (lines 101-105).  I will try to make a specific module for the advanced algorithms and libraries, but for no

[2015-02-06 13:49] maxruby commented on #3
For example, currently if you want to use the `video` module bgsegm functions from OpenCV 3.0.0, you have to

- provide the full path to your `opencv-contrib-master` in line 105 of `src/OpenCV.jl`
- uncomment line 88 in `src/OpenCV_modules.jl`

[2015-02-06 14:42] NicolasCARPi commented on #3
I've git cloned again, but it still fails to load the libs :/ (same error as before).
I'll try to find a solution myself later. In the meantime, I would strongly  recommend diving into linux, have a look at docker, it's very cool to test out things :)

Regards,
~Nico

[2015-02-06 15:31] maxruby commented on #3
I know the source of the problem.  Its because the `output` from line 37 in `src/OpenCV.jl` which you get from the REPL is different in Linux from OSX - sorry I missed that.

Thanks for the link to docker - looks very cool.

[2015-02-06 16:38] maxruby commented on #3
OK.  Now I see exactly why you are having problems installing this on Linux and why you might have other problems than we anticipated . . .

The first thing to note is that your screenshot of the opencv libs [directory] (https://i.imgur.com/pIiWMWe.png) does not fully match the listing of the corresponding libs in the output of the Julia REPL:

"-lopencv_calib3d -lopencv_contrib -lopencv_core -lop

[2015-02-06 17:02] NicolasCARPi commented on #3
There were no errors during compilation of OpenCV as far as I know. It is true that the output of pkg-config doesn't match my libs in /usr/local/lib, which is weird....
I tried latest version, and it's better, because it cannot find the ones that are different from pkg-config output and ls /usr/local/lib.
But after it fails at loading the ones that are not found.
So maybe if you remove the ones no

[2015-02-06 17:25] maxruby commented on #3
I think the best compromise is not to throw an error (but inform) when it does not find the lib in another Linux or Windows (line 76 of `src/OpenCV.jl`).

Please try the latest commit.

[2015-02-06 19:34] NicolasCARPi commented on #3
I want to try it, but it'll have to wait until monday as I can't access my work computer now :/
Have a nice weekend :)

[2015-02-09 17:21] NicolasCARPi commented on #3
Hello Max,
I tried to run your new code, but julia crashed.
After that, I uninstalled opencv2, and the output was as before.
After that, I uninstalled opencv3 also, and now I'm rebuilding/installing it differently, and I'll keep you updated on my endeavor :)

[2015-02-10 00:56] maxruby commented on #3
OK. Julia crashing because of OpenCV.jl is rather odd. . .
I am certain that we can figure this out.  The main thing
is to make sure that when you load each lib with `dlopen_e`
the path to the lib has to be correct. If the latest code still
does not work for you, I suggest you first try loading the libs
with a simple iteration of `dlopen_e` calls.  I confimed already
that the lib path/names match

[2015-02-10 09:50] NicolasCARPi commented on #3
Hello Max.
As I told you yesterday, I've reinstalled the 3.0.0-BETA with my package manager instead of compiling it myself. So as a result, libs are no more in /usr/local/lib but directly in /usr/lib.

If I change the lines 60 and 61 and remove the `/local`, it works.

Please have a look at this screenshot showing what is happening : https://i.imgur.com/PXxMkRA.png

To fix the loading of qt5, I ch

[2015-02-10 13:08] maxruby commented on #3
Great!  It looks like there are some important differences in how Linux and OSX handle the paths to the libs.  But the good news is that it is easy to fix.  I will make the changes to the code based on your findings and wrapped them inside `@linux_only`.  Hopefully it will make it easier for others to use :)

Regarding Qt paths, I am not surprised.  The original code from `Cxx.jl` also had user-sp

[2015-02-18 05:00] Kindpire opened #4 "Could not load Qt module in Mac"
Hi,

I'm using Mac OSX 10.10.2 Yosemite, julia 0.4.0-dev+3391. When I ran "using OpenCV", it told me
"WARNING: Could not add directory /Users/pengfei/Qt/5.3/clang_64/lib/ to clang search path!
ERROR: LoadError: LoadError: could not load module /Users/pengfei/Qt/5.3/clang_64/lib/QtCore.framework/QtCore_debug: dlopen(/Users/pengfei/Qt/5.3/clang_64/lib/QtCore.framework/QtCore_debug.dylib, 1): image n

[2015-02-18 08:15] maxruby commented on #4
Sorry about the inconvenient path search for Qt.  I have to find a more general solution.
I will at least add this to the README so that it is more clear to everyone in the future.
The warning `requiring "OpenCV" did not define a corresponding module.` is not a problem; its a matter of declaring OpenCV.jl as a self-contained module.  I will change this soon.

The deprecation warnings (in `Cxx.jl`)

[2015-02-18 09:00] Kindpire commented on #4
Hi Maxruby,

Thanks for reply, yes, I have done that.

[2015-02-22 13:54] #4 closed

[2015-05-27 18:09] arnaudmgh opened #6 "RTLD_GLOBAL not defined"
[code]

[2015-06-01 15:58] arnaudmgh commented on #6
I may add that I am NOT using the master branch of the Cxx package, I switched to the bug branch as advised by Keno. Also, I did not compile openCV, I was hoping to use the shared library shipping with openCV.jl.

[2015-06-01 17:37] maxruby commented on #6
I will have a look soon at this since I could get past the RTLD_GLOBAL (I was travelling).

[2015-06-03 20:58] andrewadare commented on #6
I went through the julia/Cxx/OpenCV/OpenCV.jl build+install sequence today and am seeing a similar problem:

[code]
The libopencv_viz issue may be completely unrelated (but I'm not sure, so I won't open a separate issue). I'm noticing just now that the viz module was listed as "Unavailable" when I ran CMake for my OpenCV installation. Maybe viz depends on VTK, and it doesn't look like I have that

[2015-06-04 05:55] maxruby commented on #6
That is correct, viz requires VTK flag switched on.  See e.g.,  [this link] (http://answers.opencv.org/question/32502/opencv-249-viz-module-not-there/). Regarding, the dependencies for loading OpenCV.jl, this is unfortunately affected by changes made in Julia base or Cxx. I am not sure we can have full protection from these changes.  I am hoping that once v0.4 is released, it will be easier to mai

[2015-06-04 15:18] andrewadare commented on #6
Thanks for the info. I'd be happy to write a PR once I sort it out. In the meantime, I'll cope with the warning that libopencv_viz is not being loaded and get back to the topic of this issue: if I qualify a few names with Libdl, I get past this error. Specifically,

- `RTLD_GLOBAL` --> `Libdl.RTLD_GLOBAL` and `dlopen_e(...)` --> `Libdl.dlopen_e(...)` in OpenCV.jl
- `dlopen(...)` --> `Libdl.dlopen(

[2015-06-04 16:23] andrewadare commented on #6
Just an update: after installing Qt 5.4 and changing the hard-coded paths in Qt_support.jl to that version, OpenCV.jl seems to work. I can run all the tests, goat video and all. When I first load OpenCV, I do see this:
[code]
But I'm not sure what to make of it, since my preliminary trials seem to indicate things are working.

[2015-06-05 19:50] maxruby commented on #6
Great. That message is related to `Cxx.jl` not being packaged as a module.

[2015-06-06 00:20] andrewadare opened #7 "pkg-config changes in OpenCV-3.0.0"
This is a small issue, but maybe still worth mentioning.

I installed the new OpenCV 3.0.0 "gold" release yesterday, and it looks like the output of pkg-config is a little different than before (at least for me on OS X). It looks like this:

[code]

I had to remove the trailing slash on `/usr/local/lib/` in OpenCV.jl, and I also changed `match(Regex("$(i[1:end-6])")` to `match(Regex("$(i[4:end-6])

[2015-06-06 05:55] maxruby commented on #7
Great.   Should we add all the modifications you made so far to get `OpenCV.jl` to work to the `README`? If you make a PR with the proposed changes, I will look at it asap. Thanks.
Cheers,
Max

[2015-07-10 15:50] elsuizo opened #8 "Load Error"
Hi first thanks for do it this amazing Pkg
I installed  opencv3.0 in a Debian Jessie and i have julia-0.4-dev. and this error:

[code]

the `pkg-config --libs opencv` output is fine(i think)

[code]

I miss something?¿?

[2015-07-10 17:54] maxruby commented on #8
I think I know what the problem is - I will try to look at it tonight.
Am 10.07.2015 17:50 schrieb "Martín Noblía" <notifications@github.com>:

[2015-07-11 07:40] maxruby commented on #8
This is likely due to the the naming of the OpenCV libs in `src/OpenCV.jl`which needs to be customized for Linux (from the default OSX) as reported in #7.
Did you try
- removing the trailing slash in `/usr/local/lib/`
- changing `match(Regex("$(i[1:end-6])")` to `match(Regex("$(i[4:end-6])")` in `src/OpenCV.jl`

[2015-07-12 22:30] elsuizo commented on #8
the error is fine, due i not installed with VTK support, i will install VTK and report you the results. Thanks for your time

[2015-07-29 13:19] stemann opened #9 "Remove binaries - rebase master"
Hi,

First and foremost: Impressive work done on this package.

I would like to suggest that the OS X binaries are replaced by a generic deps/build.jl script using BinDeps to provide binaries -- by rebasing master onto the second commit, i.e. the second commit generated by Pkg.generate("OpenCV", ...).

I would be happy to help.

Best regards,
Jesper

[2015-07-29 13:47] maxruby commented on #9
Hi Jesper,

Glad that you find the package useful.  I am happy to accept a PR with your suggested revisions.
I can also give you push access if necessary.  I agree that it would be nice to have a more general approach to load the binaries into `OpenCV.jl`.

Cheers,
Max

[2015-09-19 09:57] ibadami commented on #3
@maxruby
I am working on Ubuntu 14.04 with master branch of julia and Opencv3
I installed Cxx.jl successfully.
After cloning OpenCV.jl, I am getting the same set of errors as discussed above when I type <code> using OpenCV </code>.
I looked inside the OpenCV.jl file, the <code> path = nothing </code> at line 50
All my libraries are found in pkg-config though in lines 51-55
At line 59 the check <co

[2015-09-20 11:27] maxruby commented on #3
It looks like there are changes in `Cxx/src/typetranslation.jl` which cause the error in `CvPoint`.  I am sorry to say that since I have not updated Cxx for a while, I have not encountered these errors.  I will need to update `julia` and `Cxx.jl` in order to find out what is going on. It seems related to the handling of C++ types by Cxx, but it is just a guess.

[2015-09-20 15:19] ibadami commented on #3
Do you think you will get a chance to update both Julia and Cxx soon?

[2015-09-22 05:37] maxruby commented on #3
I will work on this tonight. I will let you know once I have checked the
issue.
Am 20.09.2015 17:19 schrieb "Ishrat" <notifications@github.com>:

[2015-09-22 09:17] ibadami commented on #3
That is great! Thank you.

On Tue, Sep 22, 2015 at 7:37 AM, Maximiliano Suster <
notifications@github.com> wrote:

--

Ishrat Badami
Ph.D. Student
Computer Vision Group
UMIC Research Centre
RWTH Aachen University
Room No 129
Mies-van-der-Rohe Strasse 15
D-52074 Aachen
Germany
------------------------------------
Tel: +49 241 80 20775
Fax: +49 241 80 22731

e-mail: badami@vision.rwth-aachen.de
URL:

[2015-09-22 22:27] maxruby commented on #3
@ibadami.

Putting aside the issues of loading the opencv libs specifically in `Ubuntu 14.04` with `Libdl.dlopen` and [RTLD_GLOBAL](http://julia.readthedocs.org/en/latest/stdlib/libdl/), I can not reproduce your error.  This is the output I get from `opencv.jl` in the console of my latest build from julia `0.5.0-dev+318` on OSX 10.10.5:

[code]

I am not sure why you are seeing this error, but I s

[2015-09-23 10:01] ibadami commented on #3
Thank you for your feedback. One last question. Which version of OpenCV are you using?

[2015-09-23 20:00] maxruby commented on #3
I compiled the latest master from the [`opencv 3.0`] (https://github.com/Itseez/opencv) repository.

[2015-09-28 14:08] maxruby commented on #3
@ibadami. Glad to hear it is working for you! We will need to have a more universal way to handle the Headers and libs.  At this point, I dont have too much time for maintaing or extending opencv.jl.

[2015-09-29 09:09] ibadami commented on #3
I understand. I am currently working actively with Julia and hence OpenCV.jl (Thanks to you!). If you wish I can keep writing the wrappers of all those functions/modules that are not yet available in OpenCV.jl, whenever I need to use them. Once I am done with one complete module, I can send you the pull request.

[2015-09-29 09:13] ibadami opened #11 "Name conflict"
I am currently using the OpenCV.jl quite successfully. There is one minor problem though the size() function of julia is overloaded by the size() function of OpenCV after <code>using OpenCV</code>.  I guess the reason is the size function of OpenCV is defined as size() instead of cvSize(). Do you think it would be a good idea to use cv prefix for all the opencv functions/datatypes for
1. to identi

[2015-09-29 09:17] maxruby commented on #3
Sounds good.

[2015-09-29 09:20] maxruby commented on #11
Glad to hear it works. Just send me a PR with proposed changes as we decide then whether it makes send to make global changes to the naming of the functions.  I did this project as a "fun" project on the side, so I am sure there is much room for improvement and extension of the current wrappers. . .

[2015-09-29 09:21] ibadami commented on #11
Cool. I'll do that. Thanks!

[2015-09-30 07:46] ibadami commented on #11
Hello again,

The name conflict I mentioned above is occurring in OpenCV_core.jl line 562.
After <code>using OpenCV</code> I can no longer use size(array) function in Julia.
If I have used the size(array) function before I import OpenCV, and then write <code> using OpenCV</code> I get following error:

[code]
I can reproduce this error every time.

I first tried to rename size(img) in OpenCV_core.

[2015-09-30 07:48] ibadami commented on #11
If I change the order of <code>using OpenCV</code> and <code> size(array)</code> function I get following error:

[code]

[2015-09-30 08:06] ibadami commented on #11
Errr I think the sizeof() function also exist in C++ library. After changing the name to sizeofimage(), there is no conflict or compiling error.

[2016-12-06 01:04] #8 closed

[2017-02-21 13:57] karanaggarwal1994 opened #13 "Error while using OpenCV"
julia> using OpenCV
ERROR: LoadError: LoadError: LoadError: could not open file /home/karan/.julia/v0.5/Cxx/src/../deps/build/clang_constants.jl
 in include_from_node1(::String) at ./loading.jl:488 (repeats 3 times)
 in eval(::Module, ::Any) at ./boot.jl:234
 in require(::Symbol) at ./loading.jl:415
 in include_from_node1(::String) at ./loading.jl:488
 in eval(::Module, ::Any) at ./boot.jl:234
 in

[2017-02-23 21:33] maxruby commented on #13
From the snippet you sent, it seems there is an issue with `Cxx.jl` support for the latest state of `OpenCV.jl`.
[code]
Unfortunately, I have not used julia v0.5 so I cannot help you right now.  Does your `Cxx.jl`installation alone work well with julia v0.5?

[2017-03-02 22:57] kvmanohar22 opened #16 "More efficient way to convert images from Images.jl to OpenCV Mat"
As mentioned [here](https://github.com/maxruby/OpenCV.jl/blob/master/src/OpenCV_ImagesSupport.jl#L6), we can come up with a more efficient method to convert the images using c++ pointers method. I found that the wrappers are already implemented [here](https://github.com/maxruby/OpenCV.jl/blob/master/src/OpenCV_Mat.jl#L214), for manipulation using pointers in c++. But they seem to place the same `i

[2017-03-03 08:54] maxruby commented on #16
Sounds great.  Indeed, the reason for using the std container `at` method in `convertToMat` and generally in `OpenCV.jl` was initially to keep things simple.  However, as you correctly pointed out `setgray` and `setcolor` already demonstrates that using pointers is obviously feasible in this library. Indeed using GPU Mat (`UMat`) in addition can speed up image manipulation as well.

I suggest that

[2017-03-03 16:50] kvmanohar22 commented on #16
@maxruby  I think we need to completely rewrite the src/OpenCV_Mat.jl to include templates.
How about I open a WIP PR ?

[2017-03-03 18:26] maxruby commented on #16
Sure, go ahead! If you have more specific questions, just let me know. I will do my best to answer as quickly as possible.

[2017-03-03 21:31] kvmanohar22 opened #17 "LoadError while using OpenCV"
After installing `opencv-3.2.0`, when I import OpenCV, I get the following LoadError,

[code]
Any ideas how to get around this ?

[2017-03-04 17:21] maxruby commented on #17
I have not set up/tested import of `.dyld` libraries from OpenCV 3.2.0, but if you look at the code in `/OpenCV/src/OpenCV.jl` below it needs to be udpated.  I will have a look at it tonight as well after installing the latest Julia master `v0.5`.

Please do the following:

1. Make sure that C++ `templates` work as expected with your own installation of `Cxx.jl` - independent of `OpenCV.jl`. My ex

[2017-03-04 18:33] kvmanohar22 commented on #17
Here is the information of my system
[code]

[2017-03-04 19:11] kvmanohar22 commented on #17
Moreover when I execute this in REPL,
[code]
I get the error for `libopencv_viz.3.0.0` and the error is :
[code]

[2017-03-04 21:36] maxruby commented on #17
Does `libopencv_viz.3.0.0.so`actually exist in `cvlibdir`?  Is it possible that it should be 3.2.0 instead?

[2017-03-04 21:49] kvmanohar22 commented on #17
Yes, that file does exist in the path

[2017-03-05 06:48] maxruby commented on #13
This issue is not likely related to `OpenCV.jl` itself.  I can confirm that with the latest julia `0.6.0-pre.alpha.49`, commit `eca966c` this error can not be reproduced (MacOS 10.12.3).  Please try `0.6.0-pre.alpha.49` and if the same issue comes up, report it here again.

[2017-03-05 06:48] #13 closed

[2017-03-05 07:02] #2 closed

[2017-03-05 07:25] maxruby commented on #11
This issue was not reproduced with `size(Mat)` with the latest julia master 0.6.0, but using `sizeofimage()` is well justified - so it will be added in an upcoming commit.

[2017-03-05 07:25] #11 closed

[2017-03-05 08:35] maxruby commented on #9
Building binaries with binDeps would be a good idea in the future, but given the range of dependencies of OpenCV and OS requirements, this will need to be more time-consuming than can be justified right now.

[2017-03-05 08:35] #9 closed

[2017-03-05 10:31] maxruby opened #19 "closeWindows does not close window"
System: OSX 10.12.3
Julia: `0.6.0-pre.alpha.49`, `master/eca966c`

#### Description:
In julia `0.5.0-dev` the `closeWindows()` method used to function properly, i.e., upon pressing a key matching the code in the callback (e.g., 27), it would close the window displaying the image(s) immediately.

Currently, to close the image window, one must `exit()` the Julia REPL.  In addition, the window contin

[2017-03-05 10:43] maxruby opened #20 "Update OpenCV prebuilt libs and headers to version 3.2.0"
- [x] Build OpenCV 3.2.0 from latest [master](https://github.com/opencv/opencv)
- [x] Add new shared opencv `.dyld` libs and headers to
       - deps/usr/libs
       - deps/usr/include
- [x] Test the new build and confirm that selected test methods work

[2017-03-05 10:51] maxruby opened #21 "Update README"
- [x] Update installation instructions
- [x] Update deprecations in the examples
- [x] add known errors

[2017-03-05 11:25] #20 closed

[2017-03-05 11:25] #21 closed

[2017-03-05 12:14] maxruby opened #22 "Update dir for Qt framework loading"
- [x] adjust qtlibdir path
- [x] change dlopen to Libdl.dlopen

[2017-03-05 12:16] #22 closed

[2017-03-05 12:38] maxruby commented on #17
After commit `b861501` above, I am able to load all opencv shared (dyld) libs on my MacOS Sierra 10.12.3 with the latest julia master `0.6.0-alpha`.

Please let me know what you find after updating `OpenCV.jl` so we can close this.

[2017-03-05 12:39] #7 closed

[2017-03-05 12:39] #6 closed

[2017-03-05 12:40] #3 closed

[2017-03-05 12:50] kvmanohar22 commented on #17
My version of julia is currently `0.5.1-pre`, do you want me to build it for `0.6.0-alpha` ?

[2017-03-05 12:57] maxruby commented on #17
Yes, please.  Considering the effort that goes into building Julia every time something changes upstream, we might as well work with `0.6.0`, at least I would prefer to do so for work with `OpenCV.jl`. It is largely working ok now and there have also been efforts to update `Cxx.jl` for `0.6.0`.

[2017-03-05 20:43] kvmanohar22 commented on #17
That doesn't seem to work either. I built julia `0.6.0-pre.alpha.0` from source and there was same error while `using OpenCV`

[code]

[2017-03-05 21:58] maxruby commented on #17
This is clearly an issue with the loading paths or `dlopen` on some libs in Linux because the exact same code is working perfectly on OSX Sierra 10.12.3 witn `0.6.0-alpha`.
Please change the `libNames` array in `OpenCV_libs.jl`to the following and then test again:

[code]

We need to know if the other libs (except for viz) are indeed being loaded properly.

[2017-03-05 22:34] maxruby commented on #17
From what I recall and have learnt in the past, julia `dlopen`is sometimes tricky to get to work on certain libraries that depend on other shared libraries.  For example the `RTLD_GLOBAL` is crucial in OSX to load such libraries and to link symbols across imported libraries.   We need to know first whether the problem is specific to loading this lib or other libs are also failing to load in your L

[2017-03-06 01:21] kvmanohar22 commented on #17
I tried with other libs (except for viz) and there was very long error something like this (This is not the complete error. The error was way too big). This error is just beginning and ending few statements.

[code]

[2017-03-06 07:30] maxruby commented on #17
This is the compiler telling you it is unhappy with forward Mat class declarations...
Something may be wrong with your opencv build or setup... Do you have multiple versions of opencv installed?
http://answers.opencv.org/question/86962/building-opencv-3-contrib-for-ios-incomplete-type-cvmat/

[2017-03-06 08:27] kvmanohar22 commented on #17
I had a `3.0.0` version of it installed earlier but then I installed `3.2.0` without removing the shared object files in `/usr/local/lib/`. Maybe this was causing the problem. Now I'm doing fresh install of opencv `3.2.0`. I'll update you soon after it.

[2017-03-06 18:28] kvmanohar22 commented on #17
I reinstalled opencv 3.2.0 by removing the previously installed versions of opencv and the error produced now seems to have reduced. With the libNames as follows I get the following error :

[code]

[code]

[2017-03-06 19:42] maxruby commented on #17
Yes, it has to do with enabling RTTI which is mentioned already in the bottom of the OpenCV.jl README. However, not sure if `Cxx.jl` supports the C++ RTTI - I once tried to enable it and I faced some issues. I suggest you first simply comment out the #include statements for `flann` in `opencv.hpp` which are in the include folders.

[2017-03-06 20:15] kvmanohar22 commented on #17
Finally ! This issue is solved !! I think we can now close this issue ;)

[2017-03-06 21:51] maxruby commented on #17
Great!  What did you do exactly? Its important to confirm what works with every OS.

[2017-03-06 22:14] maxruby commented on #17
I will open another issue to address support for `flann` and `viz` libraries in `OpenCV.jl`.

[2017-03-06 22:17] kvmanohar22 commented on #17
I had opencv `2.4.0` and opencv `3.0.0` installed previsouly and on top of this I installed `3.2.0`. This caused errors. Finally I removed all the versions of opencv (including the shared object files) and did a fresh install of opencv `3.2.0`. And then as you mentioned I commented #include statements for `flann` in `opencv.hpp` and the problem was solved !

[2017-03-06 22:24] maxruby commented on #17
Thanks.  I am closing this.

[2017-03-06 22:24] #17 closed

[2017-03-06 22:46] maxruby opened #24 "Support loading of opencv flann and viz modules"
Systems: OSX 10.12.3 and Linux
Julia: `0.6.0-pre.alpha.49`, `master/eca966c`

Description:
1. Attempting to load `libopencv_flann` headers from ` /usr/local/include/opencv2/opencv.hpp` results in `error: cannot use typeid with -fno-rtti`.
This indicates that `rtti` is required to support flann.
2. Trying to load `libopencv_viz` on Linux (but not OSX) appears to cause errors. This needs to be confi

[2017-03-06 23:40] maxruby commented on #19
This is not a bug with the `OpenCV.jl` implementation.  `closeWindow` works fine when it is run inside a file script `.jl`  from the bash terminal (not `julia REPL` terminal):

bash terminal:
[code]

Test code as file in `/Users/Max/Desktop/test_opencv.`:
[code]

[2017-03-06 23:40] #19 closed

[2017-03-07 21:40] kvmanohar22 opened #25 "Method Error related to unsafe_load"
Having resolved [this](https://github.com/maxruby/OpenCV.jl/issues/17) issue, when I try to run any of the commands related to OpenCV.jl, I get this warning while importing OpenCV and

[code]
 then this error :

[code]

Setup details :
[code]

[2017-03-07 22:14] maxruby commented on #25
Yes, unfortunately I saw this too on OSX 10.12.3, so I filed it already at `Cxx.jl`, see https://github.com/Keno/Cxx.jl/issues/327

Forutnately, this is only a `Base.show` Error and it will not affect the output of the `OpenCV.jl` functions.  It means that unfortunately, we do not get the correct output of our function invocations.
Having said that, I previously turned off all this output from `Cx

[2017-03-07 22:20] maxruby commented on #25
FYI  - the `WARNING: requiring "OpenCV" in module "Main" did not define a corresponding module.` has nothing to do with this error.  This has to do with the fact that we are not exporting `OpenCV`as a module and will be fixed once it is added to the JuliaImages project.

Because this is strictly not an `OpenCV.jl` error but rather a `Cxx.jl` issue, I will close this issue.
If you want further upda

[2017-03-07 22:20] #25 closed

[2017-03-21 08:33] maxruby commented on #16
@kvmanohar22 .  You are welcome to have a look at WIP branch `mat_templates`.  It already supports conversion of JuliaImages 2d and 3d arrays to `std::vector`.  For 2d array images, conversion to cv::Mat_<T> is working fine (getters and setters), but RGB image conversion still need some small fixes. Suggestions are welcome.

[2017-03-21 14:14] kvmanohar22 commented on #16
I think `getPixel` and `getPixel3d`  should work for RGB images too ?

[2017-03-21 15:14] maxruby commented on #16
Indeed, I think both should already work.  Currently `stdvec3Mat_` is not working, but it should be easy to fix.  The problem is in the inner assignment loop in `stdvector3Mat_`.

Other than that, there are a number of tasks to be done:
- [ ] add tests for the new methods
- [ ] add methods to convert `cv::Mat_<T>`back to Julia Image arrays

If you would like to work on these, feel free to fetch th

[2017-03-21 16:24] kvmanohar22 commented on #16
Yes, I would like to work on them.

Yes this too, I tried testing the new implementation but got errors, specifically when I tried importing OpenCV with `mat_templates` branch checked out, [this error](https://github.com/maxruby/OpenCV.jl/issues/17#issue-211807415) popped up.

[2017-03-21 16:37] kvmanohar22 opened #28 "Roadmap"
As the application process for GSoC has begun, I was wondering what are the top priority modules that are supposed to be wrapped during the course of GSoC timeline. I am looking forward to expand functionalities of `OpenCV.jl`. Knowing which modules to wrap, I would write my proposal accordingly.

[2017-03-21 17:39] maxruby commented on #28
I will come up with suggestions tonight, but for now, we need to formalize the steps required to have the following immediate issues solved:

- [ ] thorough implementation of `cv::Mat_<T>` templates and Julia wrappers
- [ ] ***efficient*** bidirectional conversion between `Julia` and `OpenCV` images
- [ ] ***properly*** functioning image processing and display methods

Assuming that these can be w

[2017-03-21 19:52] maxruby commented on #16
I assume this is an OS or setup-related error since I do not see it.

You mentioned in relation to this error that:

Which error specifically do you see in the REPL?

[2017-03-21 20:24] kvmanohar22 commented on #16
[code]

[2017-03-21 21:17] maxruby commented on #16
Maybe related to your `OpenCV` installation again or something that you changed in your local repo but which is missing from the `mat_templates` branch?  I really do not know what could be going on since I can't reproduce it locally. . .

[2017-03-22 07:12] maxruby commented on #16
I have looked at the commit history and I have not made any changes to the lib loading routine in `OpenCV.jl` since the last commit `d2851b46b6226a547706aaf256507a1a17cccd1f` in the `master`branch.

[2017-03-22 08:42] kvmanohar22 commented on #16
I guess I have messed up again ;). I will look into this.

[2017-03-22 23:33] maxruby commented on #28
I think the immediate focus should be
 -  improving image filtering and video processing OpenCV methods for use in Julia
 -  smooth conversion between Julia arrays and C++ Mat

Support for display and graphics in Julia ` v0.6` (and possibly even 0.5) has a number of significant challenges right now due dependencies which are not currently working (Winston.jl, TK.jl, and possibly others).  With lim

[2017-03-23 01:41] timholy commented on #28
Not to derail what sounds like excellent recommendations, but just FYI [GtkReactive](https://juliagizmos.github.io/GtkReactive.jl/stable/) passes all of its tests on Julia 0.6. Though I would be the first to say that GLVisualize is the future of graphics on julia (hopefully GtkReactive can contribute to that, since GLVisualize uses Reactive).

[2017-03-23 07:11] asbisen commented on #24
Just a few more pointers, I am experiencing same issue. Although (OSX Sierra) I am successfully able to load `dylib` libraries using `Libdl.dlopen`.

[code]

My vtk was installed using Homebrew with the following parameters `brew install vtk --c++11 --verbose`

[2017-03-23 07:23] asbisen commented on #24
I have identified the culprit that is causing the error. Although [OpenCV_libs.jl#27](https://github.com/maxruby/OpenCV.jl/blob/master/src/OpenCV_libs.jl#L27) comments out the library. Corresponding `#include` in [include/opencv2/opencv.hpp#61-63](https://github.com/opencv/opencv/blob/master/include/opencv2/opencv.hpp#L61-L63) also needs to be commented out.

That would at least allow the module t

[2017-03-23 07:57] maxruby commented on #28
@timholy.  Thanks for the pointers!  I agree that it would be nice to work with `OpenGL`, but I wonder whether this will be outside the scope of a GSoC project?  There seems to be already enough challenges to get OpenCV and Images (and associated packages) talking smoothly (deprecations, image format and conversion).  That said, I am with you that we should at least look into GtkReactive and GLVis

[2017-03-23 08:03] maxruby commented on #24
Thanks for your feedback.  Indeed, this is what I currently recommend as a temporary solution.  However, this is not a permanent solution and therefore the issue here has been filed to enable `typeid with -fno-rtti`

[2017-03-23 10:28] timholy commented on #28
That's why I said they were excellent recommendations :smile:. I just wanted to make sure you knew that, if you needed it, there were graphics solutions that work on 0.6.

[2017-03-23 11:05] maxruby commented on #28
@timholy.  Indeed, ideally we would use the visualization power of `GLVisualize` with `OpenCV` and come up with something unique. By the way, a bit offside, but do you really get `GTkReactive` to work with v0.6?  If so, how?  I tried to get it installed and got a number of errors.  Is there anywhere detailed documentation on how to get `GtkReactive` installed?

The immediate goal is to be able to

[2017-03-23 11:38] mbeltagy opened #31 "Compile Problems on Ubnutu 14.04"
After I installed OpenCV 3.2.0, `OpenCV.jl ` was looking for the headers in the wrong place, so I had to
[code]
But then on executing `using OpenCV`, I got the following errors.
[code]

[2017-03-23 11:49] timholy commented on #28
Not sure. Maybe https://github.com/JuliaGraphics/Gtk.jl/issues/289?

But clearly I spoke too soon; while it passes the "automated" tests, some of the mouse interaction triggers a bug: https://github.com/JuliaLang/julia/issues/21141. Nevertheless basic image display works fine (see `examples/imageview.jl`).

Certainly not; there are so many plotting options I don't pretend to keep up with them all.

[2017-03-23 14:48] maxruby commented on #28
@kvmanohar22 .  I would suggest that you look into making it feasible to use `GtkReactive` for Visualization of images before and after processing with `OpenCV.jl`.  I will try in parallel to install it on OSX and evaluate how to work with it as well.

[2017-03-23 14:48] maxruby commented on #31
@kvmanohar22 .  Can you help with this issue? I do not have a `Linux` setup and can not test easily what it breaks on Linux OS.

[2017-03-23 15:39] kvmanohar22 commented on #28
On it !

[2017-03-25 13:36] mbeltagy commented on #31
After some digging, I found that I was using the wrong OpenCV at https://github.com/JuliaOpenCV/OpenCV.jl
closing.

[2017-03-25 13:36] #31 closed

[2017-03-25 13:41] vernwalrahul opened #32 "ReadOnlyMemoryError() on running "using OpenCV" in ubuntu 14.04"
![screenshot from 2017-03-25 19 10 33](https://cloud.githubusercontent.com/assets/23414388/24322664/de711c4c-118e-11e7-854f-e7f1cf6abec3.png)

[2017-03-25 18:53] maxruby commented on #32
Please see #17.  This is likely related to OpenCV installation issues.

[2017-03-25 19:38] kvmanohar22 commented on #32
@vernwalrahul  Have you commented out the #include statements from for `flann` in `opencv.hpp` ?

[2017-03-26 05:57] mbeltagy opened #33 "Spurious error messages when using pixset"
I finally got OpenCV.jl to work on my ubuntu 14.04.

In the example on  **Getting and setting selected pixel values** using _method 1_,  I get the following I run `pixset`.

[code]

Overall, the example seems to work, but the errors are alarming.

[2017-03-26 07:24] maxruby commented on #33
I assume that you are using the `master` branch.  In that case, the errors are not exactly alarming because recently these functions had to be changed due to deprecations/updates in Julia v0.6.  I will have a look at this tonight.

There is a completely new implementation of the `cv::Mat` constructors in `OpenCV.jl` using template `cv::Mat_<T>` in branch `mat_templates`.  You are welcome to try it

[2017-03-26 12:31] vernwalrahul commented on #32
Thanks.  Actually, it had two versions of opencv.

[2017-03-26 12:31] #32 closed

[2017-03-29 19:08] maxruby commented on #28
@kvmanohar22.  Have you evaluated the feasibility of working with `GtkReactive`?

[2017-10-09 23:08] AlexBerkovich opened #34 "questions about the package"
First, let me say - Thank you and a great job. An excellent package.

There are two questions I wanted to ask you:
1. When installing, you require the "viz" lib, but by the command you provided won't generate it. Have you been able to configure the default settings of OpenCV to compile that lib without extra SW?
I had to get the VTK software, and compile OpenCV with reference to it.

2. When calli

[2017-11-18 11:38] yakir12 opened #35 "calcOpticalFlowPyrLK examples for Image.jl users"
Hi @maxruby!
Thanks for this awesome work. When I say "people" I obviously mean me, but I suspect I'm not alone.

Some people think that the syntax of `Images.jl` is simpler than `OpenCV.jl`'s syntax when it comes to manipulating images. This is to be expected since `OpenCV.jl` is a wrapper and `Images.jl` is not. However, one of `OpenCV.jl`'s biggest advantages over `Images.jl` is the cutting-edg

[2017-11-18 14:48] timholy commented on #35
It's also worth noting https://github.com/JuliaOpenCV/OpenCV.jl. Would be great if we could combine the best of both into a single awesome OpenCV package.

[2017-11-18 15:09] yakir12 commented on #35
(wow, didn't even know about that one...)

[2017-11-18 18:14] maxruby commented on #35
@yakir12. Thanks for the input.

Here is my feedback on your request:

Understandable, but perhaps for some people (like me) coming with C++/OpenCV experience, `OpenCV.jl` provides an easier transition to start working productively with the OpenCV algorithms and realtime image/video visualization (compared to `Images.jl`) in Julia.  To be honest, I simply have not had much reason to put Julia to u

[2017-11-18 18:22] yakir12 commented on #35
Thanks for the input. Yap, I don't mind where the example/functionality pops up. Ideally, it would reside in Images.jl, but it looked like it's already in place here (albeit without the examples).
Thanks in advance and I completely understand if you don't have the time!

[2018-03-20 05:36] tosalonijain opened #37 "GSoC 2k18"
Considering that the application process for GSoC has already begun, I was wondering what are the top priority modules that are supposed to be wrapped during the course of GSoC timeline. Once known, I shall frame my proposal accordingly.

[2018-03-20 08:31] tosalonijain commented on #37
@maxruby it would be better if I could get to know this as early as possible.
Thankyou.

[2018-03-20 19:30] maxruby commented on #37
Hi @tosalonijain

Thanks for your interest in OpenCV.jl. It would be nice to extend and further maintain this library.
I would love to guide you but unfortunately, I do not have any time to invest on this right now or during the Summer.

Perhaps you could indicate which features of OpenCV interests you and I could suggest where to extend or improve the bindings for Julia.

[2018-03-20 20:02] tosalonijain commented on #37
@maxruby, I wanted to ensure whether or not you are going to accept proposals for GSoC 2k18 in this project??

[2018-03-21 18:01] tosalonijain commented on #37
@maxruby , As I can see OpenCV.jl presently has julia wrappers for the core, imgproc, videoio, highgui and video modules and is missing wrappers for gpu, ml, features2D, objdetect, calib3d, photo, flann majorly. Although it seems the already wrapped modules are not complete when compared to the list of features under them in OpenCV. For example in OpenCV_core.jl Dynamic structures are not done, Ba

[2018-03-22 00:37] maxruby commented on #37
Once you have your proposal ready and you share it with me, I will try to give you feedback as early as possible, but I as I said already, I will not be able to dedicate much time to this.

[2018-03-22 21:11] tosalonijain commented on #37
Thank you @maxruby . I shall be very soon uploading the first draft of my proposal. Expecting suggestions from your side on that.

[2018-03-25 14:41] tosalonijain commented on #37
@maxruby I would be uploading my proposal within next 7 hrs approximately. Please do visit the page once to review it, since 27th is the last date for submission.
Thank you.

[2018-03-26 18:21] tosalonijain commented on #37
@maxruby here is the link to my proposal.
https://docs.google.com/document/d/1W4B-bRxPHKcorh5sQESPzIw2es1L2vtENWzvUielgU0/edit?usp=sharing
Please review it and suggest required changes. I have uploaded on the GSoC site also.
Thank you.

[2018-03-31 07:44] maxruby commented on #37
@tosalonijain
Sorry for the delay in getting back to you.  I have superficially reviewed your proposal.  Generally speaking, I find the proposal very good and it is nice to see your enthusiasm for working with OpenCV in Julia.

However, I think the proposal as it stands is overambitious (and not realistic), to a point where I believe that it needs to be trimmed down.  I think updating OpenCV.jl to

[2018-03-31 08:09] tosalonijain commented on #37
@maxruby Thank you for your genuine review. Yes I was myself a bit in dilemma whether or not the goal I have mentioned could be achieved in the time given. That's why I was desiring your review. Though, now as you have mentioned I would better focus on the above listed features. I was also suspecting if
 it would be a good choice to involve pointers with Cxx. Although I may take this as my post GS

[2018-03-31 15:31] maxruby commented on #37
Honestly, I think the current project as it stands might perhaps not have enough merit in terms of its originality and scope to compete with others.  However, this is purely my speculation and I would not want to discourage you from trying...

[2018-03-31 16:02] tosalonijain commented on #37
@maxruby Thank you for the honest response. I just wanted to know, although I would greatly wish to be selected for this project and work on it.

[2018-07-19 11:29] vishwesh5 opened #39 ""viz is not found in pkg-config" issue"
I have compiled OpenCV with OpenCV_contrib on Ubuntu 18.04 system. When I try using Julia and OpenCV, I get the following error:

[code]
I went through a similar issue but I couldn't find a solution to resolve this. Is there any way to fix this without recompiling OpenCV?

[2021-09-13 09:27] AndreasAZiegler opened #43 "OpenCV.imwrite fails"
I have the following code:
[code]
and get the following error:
[code]

[2021-09-14 21:50] timholy commented on #43
I think you're using https://github.com/archit120/OpenCV.jl. It's a bit confusing.

[2021-09-15 07:04] AndreasAZiegler commented on #43
Indeed. Sorry for bothering you.

[2021-09-15 07:04] #43 closed

[2021-11-29 19:02] aleReimondo opened #44 "waitkey(anInt)"
Please let the argument of waitkey to be an Int (not only Int32)

# waitKey
waitkey(delay) = @cxx cv::waitKey(delay)

[2022-09-06 12:18] DylanMMarques opened #45 "Does not compile in julia 1.7 and 1.8"
Hello,

The package does not compile in julia 1.7 and 1.8 on both Windows and Linux:

[code]
Output:

[code]